<h2 id="readme">README</h2>
<p><code>C:\_\keyprism3\._esdoc\css</code></p>
<ul>
<li><code>brain_uid</code> - <code>09335629-E824-3836-6E1A-8A30325D2C09</code></li>
<li><code>thought_id</code> - <code>167</code></li>
<li><code>thought_uid</code> - <code>C242FEAE-87BE-F0CE-9AE8-1635821B42D5</code></li>
<li><code>vp_url</code> - <code>keyprism3.vpp://shape/BWURiNqGAqAAAg4U/Uk8RiNqGAqAAAg4h</code></li>
<li><code>vp_url_overview</code> - <code>keyprism3.vpp://shape/YcUAPVqGAqAAAhK3/36L0iNqGAqAAAgxa</code></li>
<li><code>FmColorName</code> - <code>gray-dark</code></li>
<li><code>ColorHex</code> - <code>#7D7D85</code></li>
<li><code>ColorRgb</code> - <code>125,125,133</code></li>
</ul>
<p><a href="aip://open/C%3A%5C_%5Ckeyprism%33%5C._esdoc%5Ccss"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-gray-dark-48.png" /></a> <em>CSS files for esdoc, additionals from <code>.assets...</code></em></p>
<h3 id="local-links">Local Links</h3>
<ul>
<li><a href="aip://open/C%3A%5C_%5Ckeyprism%33%5C._esdoc%5CREADME.md%3Fbrain_uid%3D%30%39%33%33%35%36%32%39-E%38%32%34-%33%38%33%36-%36E%31A-%38A%33%30%33%32%35D%32C%30%39%26thought_id%3D%33%26webthought_id%3D%33%26vp_url%3Dkeyprism%33.vpp%3A%2F%2Fshape%2F%34cdvCNqGAqAAAgtu%2Fhi%30fCNqGAqAAAguy%26vp_url_overview%3Dkeyprism%33.vpp%3A%2F%2Fshape%2FYcUAPVqGAqAAAhK%33%2FxNZ%36PVqGAqAAAhy%30"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-red-dark-16.png" /></a> - parent</li>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5C._esdoc%5Ccss%5CDesktop.ini"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> - ini</li>
<li><a href="aip://vplink/keyprism%33.vpp%3A%2F%2Fshape%2FBWURiNqGAqAAAg%34U%2FUk%38RiNqGAqAAAg%34h"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - vplink</li>
<li><a href="aip://vplink/keyprism%33.vpp%3A%2F%2Fshape%2FBWURiNqGAqAAAg%34U%2FUk%38RiNqGAqAAAg%34h"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - vpolink</li>
<li><a href="aip://thoughtuid/C%32%34%32FEAE-%38%37BE-F%30CE-%39AE%38-%31%36%33%35%38%32%31B%34%32D%35"><img src="http://mrobbinsassoc.com/images/icons/md/webbrain-16.png" /></a> - thought</li>
</ul>
<h3 id="external-links">External Links</h3>
<ul>
<li><a href="https://bitbucket.org/keyprism3/keyprism3-esdoc/src/master/css/"><img src="http://mrobbinsassoc.com/images/icons/md/bitbucket-16.png" /></a> - bitbucket</li>
<li><a href="https://webbrain.com/brainpage/brain/09335629-E824-3836-6E1A-8A30325D2C09#-167"><img src="http://mrobbinsassoc.com/images/icons/md/webbrain-16.png" /></a> - webbrain</li>
<li><a href="http://mrobbinsassoc.com/projects/keyprism3/vp/publish/index.html?url=http://mrobbinsassoc.com/projects/keyprism3/vp/publish/content/PackageDiagram_BWURiNqGAqAAAg4U.html"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - visual paradigm publish</li>
</ul>
<h3 id="anticipates">Anticipates</h3>
<p><em>none</em></p>
<h3 id="folders">Folders</h3>
<p><em>none</em></p>
<h3 id="files">Files</h3>
<ul>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5C._esdoc%5Ccss%5CcontextMenu.css"><img src="http://mrobbinsassoc.com/images/icons/md/_css-16.png" /></a> <code>contextMenu.css</code> - for <code>contextMenu.min.js</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5C._esdoc%5Ccss%5Cjquery.qtip.min.css"><img src="http://mrobbinsassoc.com/images/icons/md/_css-16.png" /></a> <code>jquery.qtip.min.css</code> - for <code>jquery.qtip.min.js</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5C._esdoc%5Ccss%5Cprettify-tomorrow.css"><img src="http://mrobbinsassoc.com/images/icons/md/_css-16.png" /></a> <code>prettify-tomorrow.css</code> - for <code>prettify.js</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5C._esdoc%5Ccss%5CREADME.html"><img src="http://mrobbinsassoc.com/images/icons/md/_html-16.png" /></a> <code>README.html</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5C._esdoc%5Ccss%5Cstyle-qtip.css"><img src="http://mrobbinsassoc.com/images/icons/md/_css-16.png" /></a> <code>style-qtip.css</code> - for <code>jquery.qtip.min.js</code> - extending</li>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5C._esdoc%5Ccss%5Cstyle.css"><img src="http://mrobbinsassoc.com/images/icons/md/_css-16.png" /></a> <code>style.css</code> - main EsDoc styles - in transition</li>
</ul>
