<h2 id="readme">README</h2>
<p><code>C:\_\keyprism3\._esdoc</code></p>
<ul>
<li><code>brain_uid</code> - <code>09335629-E824-3836-6E1A-8A30325D2C09</code></li>
<li><code>thought_id</code> - <code>3</code></li>
<li><code>webthought_id</code> - <code>3</code></li>
<li><code>thought_uid</code> - <code>2BB41626-69C9-90A6-727E-5D31F5E1244B</code></li>
<li><code>vp_url</code> - <code>keyprism3.vpp://shape/4cdvCNqGAqAAAgtu/hi0fCNqGAqAAAguy</code></li>
<li><code>vp_url_overview</code> - <code>keyprism3.vpp://shape/YcUAPVqGAqAAAhK3/xNZ6PVqGAqAAAhy0</code></li>
<li><code>FmColorName</code> - <code>red-dark</code></li>
<li><code>ColorHex</code> - <code>#F43F2A</code></li>
<li><code>ColorRgb</code> - <code>244,63,42</code></li>
</ul>
<p><a href="aip://open/C%3A%5C_%5Ckeyprism%33%5C._esdoc"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-red-dark-48.png" /></a> <em>EsDoc Output for KeyPrism3</em></p>
<p><a href="https://app.codeship.com/projects/208433"><img src="https://app.codeship.com/projects/547f7550-ecc6-0134-e2b6-0a42fa094665/status?branch=master" alt="Codeship Status for keyprism3/keyprism3-esdoc" /></a></p>
<h3 id="local-links">Local Links</h3>
<ul>
<li><a href="aip://open/C%3A%5C_%5Ckeyprism%33%5CREADME.md%3Fbrain_uid%3D%30%39%33%33%35%36%32%39-E%38%32%34-%33%38%33%36-%36E%31A-%38A%33%30%33%32%35D%32C%30%39%26thought_id%3D%32%26webthought_id%3D%32%26vp_url%3Dkeyprism%33.vpp%3A%2F%2Fshape%2FYcUAPVqGAqAAAhK%33%2FU.GAPVqGAqAAAhLD"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-purple-16.png" /></a> - parent</li>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5C._esdoc%5CDesktop.ini"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> - ini</li>
<li><a href="aip://vplink/keyprism%33.vpp%3A%2F%2Fshape%2F%34cdvCNqGAqAAAgtu%2Fhi%30fCNqGAqAAAguy"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - vplink</li>
<li><a href="aip://vplink/keyprism%33.vpp%3A%2F%2Fshape%2F%34cdvCNqGAqAAAgtu%2Fhi%30fCNqGAqAAAguy"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - vpolink</li>
<li><a href="aip://thoughtuid/%32BB%34%31%36%32%36-%36%39C%39-%39%30A%36-%37%32%37E-%35D%33%31F%35E%31%32%34%34B"><img src="http://mrobbinsassoc.com/images/icons/md/webbrain-16.png" /></a> - thought</li>
</ul>
<h3 id="external-links">External Links</h3>
<ul>
<li><a href="https://bitbucket.org/keyprism3/keyprism3-esdoc"><img src="http://mrobbinsassoc.com/images/icons/md/bitbucket-16.png" /></a> - bitbucket</li>
<li><a href="https://webbrain.com/brainpage/brain/09335629-E824-3836-6E1A-8A30325D2C09#-3"><img src="http://mrobbinsassoc.com/images/icons/md/webbrain-16.png" /></a> - webbrain</li>
<li><a href="http://mrobbinsassoc.com/projects/keyprism3/vp/publish/index.html?url=http://mrobbinsassoc.com/projects/keyprism3/vp/publish/content/PackageDiagram_4cdvCNqGAqAAAgtu.html"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - visual paradigm publish</li>
</ul>
<h3 id="anticipates">Anticipates</h3>
<p><em>none</em></p>
<h3 id="folders">Folders</h3>
<ul>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>.git</code></li>
<li><a href="aip://open/C%3A%5C_%5Ckeyprism%33%5C._esdoc%5Cast%5CREADME.md%3Fbrain_uid%3D%30%39%33%33%35%36%32%39-E%38%32%34-%33%38%33%36-%36E%31A-%38A%33%30%33%32%35D%32C%30%39%26thought_id%3D%31%36%35%26webthought_id%3D%31%36%35%26vp_url%3Dkeyprism%33.vpp%3A%2F%2Fshape%2F%39Z_uiNqGAqAAAg%30_%2FQGfeiNqGAqAAAg%32u%26vp_url_overview%3Dkeyprism%33.vpp%3A%2F%2Fshape%2FYcUAPVqGAqAAAhK%33%2F%37pN%30iNqGAqAAAgxG"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-gray-dark-16.png" /></a> <code>ast</code> - json files (<code>name.js.json</code>) and directories containing abstract syntax trees</li>
<li><a href="aip://open/C%3A%5C_%5Ckeyprism%33%5C._esdoc%5Cclass%5CREADME.md%3Fbrain_uid%3D%30%39%33%33%35%36%32%39-E%38%32%34-%33%38%33%36-%36E%31A-%38A%33%30%33%32%35D%32C%30%39%26thought_id%3D%31%36%36%26webthought_id%3D%31%36%36%26vp_url%3Dkeyprism%33.vpp%3A%2F%2Fshape%2F%33dJhiNqGAqAAAg%33s%2FqXlhiNqGAqAAAg%33%35%26vp_url_overview%3Dkeyprism%33.vpp%3A%2F%2Fshape%2FYcUAPVqGAqAAAhK%33%2FkQj%30iNqGAqAAAgxQ"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-gray-dark-16.png" /></a> <code>class</code> - <code>html</code> files and directories containing class documentation <code>path/filename.ext~classname.html</code></li>
<li><a href="aip://open/C%3A%5C_%5Ckeyprism%33%5C._esdoc%5Ccss%5CREADME.md%3Fbrain_uid%3D%30%39%33%33%35%36%32%39-E%38%32%34-%33%38%33%36-%36E%31A-%38A%33%30%33%32%35D%32C%30%39%26thought_id%3D%31%36%37%26webthought_id%3D%31%36%37%26vp_url%3Dkeyprism%33.vpp%3A%2F%2Fshape%2FBWURiNqGAqAAAg%34U%2FUk%38RiNqGAqAAAg%34h%26vp_url_overview%3Dkeyprism%33.vpp%3A%2F%2Fshape%2FYcUAPVqGAqAAAhK%33%2F%33%36L%30iNqGAqAAAgxa"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-gray-dark-16.png" /></a> <code>css</code> - CSS files for esdoc, additionals from <code>.assets...</code></li>
<li><a href="aip://open/C%3A%5C_%5Ckeyprism%33%5C._esdoc%5Cfile%5CREADME.md%3Fbrain_uid%3D%30%39%33%33%35%36%32%39-E%38%32%34-%33%38%33%36-%36E%31A-%38A%33%30%33%32%35D%32C%30%39%26thought_id%3D%31%36%38%26webthought_id%3D%31%36%38%26vp_url%3Dkeyprism%33.vpp%3A%2F%2Fshape%2Fl%38WpiNqGAqAAAg%34%37%2FDvupiNqGAqAAAg%35I%26vp_url_overview%3Dkeyprism%33.vpp%3A%2F%2Fshape%2FYcUAPVqGAqAAAhK%33%2F%32X%33%30iNqGAqAAAgxk"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-gray-dark-16.png" /></a> <code>file</code> - <code>html</code> files and directories containing highlighted code <code>path/filename.ext</code></li>
<li><a href="aip://open/C%3A%5C_%5Ckeyprism%33%5C._esdoc%5Cfunction%5CREADME.md%3Fbrain_uid%3D%30%39%33%33%35%36%32%39-E%38%32%34-%33%38%33%36-%36E%31A-%38A%33%30%33%32%35D%32C%30%39%26thought_id%3D%31%36%39%26webthought_id%3D%31%36%39%26vp_url%3Dkeyprism%33.vpp%3A%2F%2Fshape%2FySHpiNqGAqAAAg%35l%2FEE%33piNqGAqAAAg%35y%26vp_url_overview%3Dkeyprism%33.vpp%3A%2F%2Fshape%2FYcUAPVqGAqAAAhK%33%2Fmo_%30iNqGAqAAAgxu"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-gray-dark-16.png" /></a> <code>function</code> - Function Index</li>
<li><a href="aip://open/C%3A%5C_%5Ckeyprism%33%5C._esdoc%5Cimage%5CDesktop.ini%3Fbrain_uid%3D%30%39%33%33%35%36%32%39-E%38%32%34-%33%38%33%36-%36E%31A-%38A%33%30%33%32%35D%32C%30%39%26thought_id%3D%31%37%30%26webthought_id%3D%31%37%30%26vp_url%3Dkeyprism%33.vpp%3A%2F%2Fshape%2FRK%36ZiNqGAqAAAg%36Q%2FUyOZiNqGAqAAAg%36d%26vp_url_overview%3Dkeyprism%33.vpp%3A%2F%2Fshape%2FYcUAPVqGAqAAAhK%33%2FjKoMiNqGAqAAAgx%38"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-gray-dark-16.png" /></a><a href="aip://open/C%3A%5C_%5Ckeyprism%33%5C._esdoc%5Cimage%5CDesktop.ini%3Fbrain_uid%3D%30%39%33%33%35%36%32%39-E%38%32%34-%33%38%33%36-%36E%31A-%38A%33%30%33%32%35D%32C%30%39%26thought_id%3D%31%37%30%26webthought_id%3D%31%37%30%26vp_url%3Dkeyprism%33.vpp%3A%2F%2Fshape%2FRK%36ZiNqGAqAAAg%36Q%2FUyOZiNqGAqAAAg%36d%26vp_url_overview%3Dkeyprism%33.vpp%3A%2F%2Fshape%2FYcUAPVqGAqAAAhK%33%2FjKoMiNqGAqAAAgx%38"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> <code>image</code> - Images for EsDoc</li>
<li><a href="aip://open/C%3A%5C_%5Ckeyprism%33%5C._esdoc%5Cscript%5CREADME.md%3Fbrain_uid%3D%30%39%33%33%35%36%32%39-E%38%32%34-%33%38%33%36-%36E%31A-%38A%33%30%33%32%35D%32C%30%39%26thought_id%3D%31%37%31%26webthought_id%3D%31%37%31%26vp_url%3Dkeyprism%33.vpp%3A%2F%2Fshape%2FkHNZiNqGAqAAAg%36%33%2FCJDZiNqGAqAAAg%37E%26vp_url_overview%3Dkeyprism%33.vpp%3A%2F%2Fshape%2FYcUAPVqGAqAAAhK%33%2FEskMiNqGAqAAAgyG"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-gray-dark-16.png" /></a> <code>script</code> - EsDoc built-in scripts, and additional scripts plus <code>manual.js</code> custom script</li>
<li><a href="aip://open/C%3A%5C_%5Ckeyprism%33%5C._esdoc%5Ctest-file%5CREADME.md%3Fbrain_uid%3D%30%39%33%33%35%36%32%39-E%38%32%34-%33%38%33%36-%36E%31A-%38A%33%30%33%32%35D%32C%30%39%26thought_id%3D%31%37%33%26webthought_id%3D%31%37%33%26vp_url%3Dkeyprism%33.vpp%3A%2F%2Fshape%2F%38P%39%35iNqGAqAAAg%38n%2FRiL%35iNqGAqAAAg%38%30%26vp_url_overview%3Dkeyprism%33.vpp%3A%2F%2Fshape%2FYcUAPVqGAqAAAhK%33%2F_N%38MiNqGAqAAAgyY"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-gray-dark-16.png" /></a> <code>test-file</code> - <code>html</code> files and directories containing highlighted code of test files <code>path/filename.test.ext</code></li>
<li><a href="aip://open/C%3A%5C_%5Ckeyprism%33%5C._esdoc%5Cvariable%5CREADME.md%3Fbrain_uid%3D%30%39%33%33%35%36%32%39-E%38%32%34-%33%38%33%36-%36E%31A-%38A%33%30%33%32%35D%32C%30%39%26thought_id%3D%31%37%34%26webthought_id%3D%31%37%34%26vp_url%3Dkeyprism%33.vpp%3A%2F%2Fshape%2FcTaFiNqGAqAAAg%39N%2FiFWFiNqGAqAAAg%39a%26vp_url_overview%3Dkeyprism%33.vpp%3A%2F%2Fshape%2FYcUAPVqGAqAAAhK%33%2FK%33aMiNqGAqAAAgym"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-gray-dark-16.png" /></a> <code>variable</code> - EsDoc Variable Index HTML</li>
</ul>
<h3 id="files">Files</h3>
<ul>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5C._esdoc%5Cbadge.svg"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>badge.svg</code> - documentation coverage badge</li>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5C._esdoc%5Ccoverage.json"><img src="http://mrobbinsassoc.com/images/icons/md/_json-16.png" /></a> <code>coverage.json</code> - documentation coverage breakdown</li>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5C._esdoc%5Cdump.json"><img src="http://mrobbinsassoc.com/images/icons/md/_json-16.png" /></a> <code>dump.json</code> - array of objects with docId, kind, name, memberof, longname, access, description, lineNumber, params</li>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5C._esdoc%5Cidentifiers.html"><img src="http://mrobbinsassoc.com/images/icons/md/_html-16.png" /></a> <code>identifiers.html</code> - References page</li>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5C._esdoc%5Cindex.html"><img src="http://mrobbinsassoc.com/images/icons/md/_html-16.png" /></a> <code>index.html</code> - Main Page</li>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5C._esdoc%5CREADME.html"><img src="http://mrobbinsassoc.com/images/icons/md/_html-16.png" /></a> <code>README.html</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5C._esdoc%5Csource.html"><img src="http://mrobbinsassoc.com/images/icons/md/_html-16.png" /></a> <code>source.html</code> - Source Page</li>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5C._esdoc%5Ctest.html"><img src="http://mrobbinsassoc.com/images/icons/md/_html-16.png" /></a> <code>test.html</code> - Test Page</li>
</ul>
