<h2 id="readme">README</h2>
<p><code>C:\_\keyprism3\._esdoc\script</code></p>
<ul>
<li><code>brain_uid</code> - <code>09335629-E824-3836-6E1A-8A30325D2C09</code></li>
<li><code>thought_id</code> - <code>171</code></li>
<li><code>thought_uid</code> - <code>76105214-21B4-0284-AFAB-05902C4BB27F</code></li>
<li><code>vp_url</code> - <code>keyprism3.vpp://shape/kHNZiNqGAqAAAg63/CJDZiNqGAqAAAg7E</code></li>
<li><code>vp_url_overview</code> - <code>keyprism3.vpp://shape/YcUAPVqGAqAAAhK3/EskMiNqGAqAAAgyG</code></li>
<li><code>FmColorName</code> - <code>gray-dark</code></li>
<li><code>ColorHex</code> - <code>#7D7D85</code></li>
<li><code>ColorRgb</code> - <code>125,125,133</code></li>
</ul>
<p><a href="aip://open/C%3A%5C_%5Ckeyprism%33%5C._esdoc%5Cscript"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-gray-dark-48.png" /></a> <em>EsDoc built-in scripts, and additional scripts plus <code>manual.js</code> custom script</em></p>
<h3 id="local-links">Local Links</h3>
<ul>
<li><a href="aip://open/C%3A%5C_%5Ckeyprism%33%5C._esdoc%5CREADME.md%3Fbrain_uid%3D%30%39%33%33%35%36%32%39-E%38%32%34-%33%38%33%36-%36E%31A-%38A%33%30%33%32%35D%32C%30%39%26thought_id%3D%33%26webthought_id%3D%33%26vp_url%3Dkeyprism%33.vpp%3A%2F%2Fshape%2F%34cdvCNqGAqAAAgtu%2Fhi%30fCNqGAqAAAguy%26vp_url_overview%3Dkeyprism%33.vpp%3A%2F%2Fshape%2FYcUAPVqGAqAAAhK%33%2FxNZ%36PVqGAqAAAhy%30"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-red-dark-16.png" /></a> - parent</li>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5C._esdoc%5Cscript%5CDesktop.ini"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> - ini</li>
<li><a href="aip://vplink/keyprism%33.vpp%3A%2F%2Fshape%2FkHNZiNqGAqAAAg%36%33%2FCJDZiNqGAqAAAg%37E"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - vplink</li>
<li><a href="aip://vplink/keyprism%33.vpp%3A%2F%2Fshape%2FkHNZiNqGAqAAAg%36%33%2FCJDZiNqGAqAAAg%37E"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - vpolink</li>
<li><a href="aip://thoughtuid/%37%36%31%30%35%32%31%34-%32%31B%34-%30%32%38%34-AFAB-%30%35%39%30%32C%34BB%32%37F"><img src="http://mrobbinsassoc.com/images/icons/md/webbrain-16.png" /></a> - thought</li>
</ul>
<h3 id="external-links">External Links</h3>
<ul>
<li><a href="https://bitbucket.org/keyprism3/keyprism3-esdoc/src/master/script/"><img src="http://mrobbinsassoc.com/images/icons/md/bitbucket-16.png" /></a> - bitbucket</li>
<li><a href="https://webbrain.com/brainpage/brain/09335629-E824-3836-6E1A-8A30325D2C09#-171"><img src="http://mrobbinsassoc.com/images/icons/md/webbrain-16.png" /></a> - webbrain</li>
<li><a href="http://mrobbinsassoc.com/projects/keyprism3/vp/publish/index.html?url=http://mrobbinsassoc.com/projects/keyprism3/vp/publish/content/PackageDiagram_kHNZiNqGAqAAAg63.html"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - visual paradigm publish</li>
</ul>
<h3 id="anticipates">Anticipates</h3>
<p><em>none</em></p>
<h3 id="folders">Folders</h3>
<ul>
<li><a href="aip://open/C%3A%5C_%5Ckeyprism%33%5C._esdoc%5Cscript%5Cprettify%5CREADME.md%3Fbrain_uid%3D%30%39%33%33%35%36%32%39-E%38%32%34-%33%38%33%36-%36E%31A-%38A%33%30%33%32%35D%32C%30%39%26thought_id%3D%31%37%32%26webthought_id%3D%31%37%32%26vp_url_overview%3Dkeyprism%33.vpp%3A%2F%2Fshape%2FYcUAPVqGAqAAAhK%33%2FMH%32MiNqGAqAAAgyw"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /></a> <code>prettify</code> - Prettify Code</li>
</ul>
<h3 id="files">Files</h3>
<ul>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5C._esdoc%5Cscript%5Cclipboard.min.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>clipboard.min.js</code> - Clipboard Copy</li>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5C._esdoc%5Cscript%5CcontextMenu.min.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>contextMenu.min.js</code> - Context Menu</li>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5C._esdoc%5Cscript%5Cinherited-summary.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>inherited-summary.js</code> - Toggle visibilit for <code>.inherited-summary</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5C._esdoc%5Cscript%5Cinner-link.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>inner-link.js</code> - hash change, scroll window for <code>.inner-link-active</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5C._esdoc%5Cscript%5Cjquery-%32.%31.%34.min.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>jquery-2.1.4.min.js</code> - EsDocs wants</li>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5C._esdoc%5Cscript%5Cjquery.qtip.min.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>jquery.qtip.min.js</code> - QTip2 for jQuery</li>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5C._esdoc%5Cscript%5CloadCSS.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>loadCSS.js</code> - Load CSS file asynch with window.loadCSS(href, before, media, idd)`</li>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5C._esdoc%5Cscript%5Clscache.min.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>lscache.min.js</code> - localStorage extension <a href="https://github.com/pamelafox/lscache">lscashe Github</a></li>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5C._esdoc%5Cscript%5Cmanual.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>manual.js</code> - Mark Robbins EsDoc Enhancements <code>window._</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5C._esdoc%5Cscript%5Cnotify.min.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>notify.min.js</code> - <a href="https://notifyjs.com/">notifyjs.com</a></li>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5C._esdoc%5Cscript%5ConloadCSS.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>onloadCSS.js</code> - adds onload support for asynchronous stylesheets loaded with <code>loadCSS.js</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5C._esdoc%5Cscript%5Cpatch-for-local.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>patch-for-local.js</code> - change <code>./</code> hrefs to <code>./index.html</code> when protocol is <code>file:</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5C._esdoc%5Cscript%5Cpretty-print.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>pretty-print.js</code> - <code>location.hash</code> has <code>errorLines</code> set <code>error-line</code> class</li>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5C._esdoc%5Cscript%5CREADME.html"><img src="http://mrobbinsassoc.com/images/icons/md/_html-16.png" /></a> <code>README.html</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5C._esdoc%5Cscript%5Csearch.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>search.js</code> - EsDocs</li>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5C._esdoc%5Cscript%5Csearch_index.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>search_index.js</code> - EsDocs search data</li>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5C._esdoc%5Cscript%5Ctest-summary.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>test-summary.js</code> - Toggles</li>
</ul>
